numpy>=1.24
scipy>=1.10
pandas>=1.0.0
matplotlib>=3.7
pandas>=2.0
requests>=2.31
sympy>=1.12
bitarray>=2.8
jax>=0.4.3
jaxlib>=0.4.3
sphinx==4.0.0
sphinxcontrib-katex>=0.7.1
sphinxcontrib-bibtex>=1.0.0
sphinx-autodoc-typehints>=1.11.1
IPython>=7.16.1
ipykernel>=5.3.4
nbsphinx>=0.8.0
sphinx-gallery>=0.8.0
sphinx-panels
myst-parser
